.App {
    text-align: left;
    margin: 0 auto;
    margin-left: 2em;
}
#site {
    background-color: #fff;
    padding: 25px 0;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: georgia,serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 2em;
    font-family: "Georgia","serif";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-align: left;
    text-transform: none;
    color: #666;
    background-color: #fff;
}
body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}
body {
    margin: 0;
    font-size: 13px;
    line-height: 1.6em;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}